@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trending Topics</h1>
    <div style="background-color:lightgray; margin-left:25%; border-radius:15px; width:50%; padding:10px; height:fit-content">
        <div style="background-color:white; border-radius:10px">
            <p>This is a post</p>
        </div>
        <div style="background-color:white; border-radius:10px">
            <p>This is a post</p>
        </div>
        <div style="background-color:white; border-radius:10px">
            <p>This is a post</p>
        </div>
    </div>
    <button onclick="" style="padding:7px; margin-top:10px">Create a new post</button>
</div>

