@{
    ViewData["Title"] = "Use Rules";
}
<div style="background-color:lightgrey;border-radius: 50px 15px; padding:5%">
    <h1 style="color:red; padding-left:10px">@ViewData["Title"]</h1>

    <ol>
        <li>
            <p>Do not use foul language.</p>
        </li>
        <li>
            <p>Respect others opinion</p>
        </li>
        <li>
            <p>Avoid sensitive content</p>
        </li>
        <li>
            <p>Do not post any personal information</p>
        </li>
    </ol>
</div>